*.bak
*~
debug/
release/
qtc-gdbmacros/
Makefile*
*.pro.user
SNAssistant
*.swp
*.orig
ui
objs
*.directory
object_script.SNAssistant.Debug
object_script.SNAssistant.Release
build/
winbuild/
mests/ModelTester.cpp
tests/ModelTester.h

